@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

a,
a:checked {
	text-decoration: none;
	color: inherit;
}

html {
	font-size: 1.2em;
	scroll-behavior: smooth;
}

:root {
	--color-hue: 160;
	--bg: hsl(var(--color-hue), 50%, 95%);
	--alt: hsl(var(--color-hue), 30%, 90%);
	--text: black;
	--accent: hsl(var(--color-hue), 100%, 46%);
	--accent-75: hsla(var(--color-hue), 100%, 46%, 0.75);
	--accent-50: hsla(var(--color-hue), 100%, 46%, 0.5);
	--accent-35: hsla(var(--color-hue), 100%, 46%, 0.35);
	--accent-25: hsla(var(--color-hue), 100%, 46%, 0.25);
	--accent-15: hsla(var(--color-hue), 100%, 46%, 0.15);
}

.dark-mode {
	--bg: black;
	--text: rgb(244, 237, 249);
}

body {
	font-family: 'DM Sans', sans-serif;
	color: var(--text);
	background-color: var(--bg);
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1100px;
	height: 100vh;
	margin: auto;
}
